<div class="col-4">
  <div class="card" style="background-color:#9CA89C;">
    <div class="card-img"><%= image_tag "watch.jpg", alt: "Watch", width: 200 %></div>
    <div class="card-infos">
      <div>
        <div class="d-flex justify-content-between">
          <div>
            <p><strong><%= booking.watch.brand %></strong></p>
            <p><%= booking.watch.model %></p>

          </div>
          <div>
          <span class="fa fa-star"></span>
          5
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between" style="background-color:#EFE5D9;">
        <p><%= booking.watch.year%></p>
        <p><strong>$<%= booking.total_price %></strong></p>

      </div>
      <p><u>Dates:</u></p>
      <p>
        <strong><%= booking.watch.start_date%> to <%= booking.watch.end_date%></strong>
      </p>

      <%= link_to "see details", watch_path, class: "btn btn-outline-secondary mx-4" %>

      </div>
  </div>
</div>
