<div>
  <div><!-- Div A -->
    <div class="card-img d-flex justify-content-center" style="display-align:center"><%= image_tag "Progress_Bar.png", class: "center", alt: "Watch", width: 400 %></div>
  <div><!-- Div B -->
    <div class="container d-flex"><!-- main div -->
      <div class="flex-grow-1"> <!--left div-->
        <div class="d-flex">
          <div class="d-flex gap-2 pb-2"><!-- Div B1a -->
            <div class=""><%= image_tag "urban1.jpg.webp", alt: "Watch", width: 200 %></div>
            <div class=""><%= image_tag "urban2.jpg.webp", alt: "Watch", width: 200 %></div>
          </div>
        </div>
        <div class="d-flex justify-content-between form-check form-check-inline background-color=F5EBE0 me-4 px-4 py-2 rounded" id="F5EBE0_colour"><!-- Div B1b -->
          <div class="text-black">
            <p><%= watch.brand %></p>
            <p><%= watch.model %></p>
          </div>
          <div>
            <p><%= watch.start_date.strftime('%d %b')%> to <%= watch.end_date.strftime('%d %b')%></p>
            <h4>$<%= watch.price %></h4>
          </div>
        </div>

        <%= simple_form_for [watch, booking] do |f| %>
        <div id="">
          <div class="d-flex justify-content-between text-black  px-4 py-2 my-2 rounded me-4" id="F5EBE0_colour">
            <%= f.input :cleaning_service %>
            <p class="text-right">$<%= watch.cleaning_price %></p>
          </div>
          <div class="d-flex justify-content-between text-black px-4 py-2 rounded me-4" id="F5EBE0_colour">
            <%= f.input :delivery %>
            <p>$<%= watch.delivery_price %></p>
          </div>

        </div>
      </div>
      <div class="d-flex flex-column justify-content-around text-black"> <!--right div-->
        <div class="d-flex align-items-end" id="F5EBE0_colour"><!--Profile div-->
          <p class="pe-3"><%= user.first_name %> <%= user.last_name %></p>
          <div><img src ="https://cdn-icons-png.flaticon.com/512/7622/7622626.png" width="50" height="50"></div>
        </div>
        <div class="px-4 px-2" id="F5EBE0_colour"><!--Reward Points div-->
          <h4 style="text-align:center">Reward Points</h4>
          <p style="text-align:center">Your Points <strong><%= user.points %></strong></p>
          <p style="text-align:center">New Points <strong>200</strong></p>
        </div>
        <div class="text-center" id="F5EBE0_colour"><!--Total price div-->
          <h3>Total</h3>
          <h3>$48,210</h2>
        </div>
      </div>
    </div>


  </div>
  <div class="container"><!-- Div C -->
    <div class="flex-column"><!-- Div C1 -->
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Your name" required>
      <div class="invalid-feedback">Name can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
      <div class="form-text"></div>
    <div class="mb-3 width: 50%"><!-- Div C2 -->
    <label class="form-label">Expiry Date</label>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <select id="Year" class="form-select me-1" required>
        <option></option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2022">2024</option>
        <option value="2023">2025</option>
        <option value="2022">2026</option>
        <option value="2023">2027</option>
        <option value="2022">2028</option>
        <option value="2023">2029</option>
      </select>

      <select id="Month" class="form-select mx-1" required>
        <option></option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <label for="exampleInputName" class="form-label">CVV</label>
      <input type="integer" class="form-control" id="exampleInputNumber" placeholder="Number" required>
      <div class="invalid-feedback">Number can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
      <div class="form-text"></div>
    </div>

      <label for="exampleInputName" class="form-label">Number</label>
      <input type="integer" class="form-control" id="exampleInputNumber" placeholder="Number" required>
      <div class="invalid-feedback">Number can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
      <div class="form-text"></div>

      <div class="center" style="align-items: center"><%= f.submit "Confirm!", class:"text-center btn btn-primary" %></div>
    </div>
  </div>
  <% end %>
</div>
