<% watches.each do |watch| %>
  <div class="col-4">
    <div class="card" style="background-color:#9CA89C;">
      <div class="card-img">
        <% watch.photos.each do |photo| %>
        <div class = 'd-flex col-4 justify-content-center'>
          <%= cl_image_tag photo.key, height: 280, width: 280 %>
        </div>
        <% end %>
      </div>
      <div class="card-infos">
        <div>
          <div class="d-flex justify-content-between">
            <div>
              <p><strong><%= watch.brand %></strong></p>
              <p><%= watch.model %></p>

            </div>
            <div>
            <span class="fa fa-star"></span>
            5
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between" style="background-color:#EFE5D9;">
          <p><%= watch.year%></p>
          <p><strong>$<%= watch.price %></strong></p>

        </div>
        <%= link_to "see details", watch_path(watch), class: "btn btn-outline-secondary mx-4" %>
        </div>
    </div>
  </div>
<% end %>
