<div class="grid-container">
  <nav role="tablist" class="grid-x align-justify align-middle">
    <hr>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">WATCH THIS</a>
        <%= link_to 'Back to Watches', watches_path, class: "btn btn-outline-secondary my-2 my-sm-0 ms-2" %>
        <%= link_to 'Add New Watch', new_watch_path, class: "btn btn-outline-secondary my-2 my-sm-0 ms-2" %>
        <div class="collapse navbar-collapse">
          <div class="ms-auto flex">
          </div>
        </div>
      </div>
    <hr>
  </nav>
</div>

<div class="container">
  <div class="row">
    <!-- Left column -->
    <div class="col-lg-9">
      <h1>My Watches</h1>

      <div class="row">

        <!-- TABS START -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Pending Requests</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Out on rental</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Available</button>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- CONFIRMED TAB -->
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <%= render Booking.with_status('pending', @user) %>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <%= render Booking.with_status('confirmed', @user) %>
            </div>
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <%= render Booking.with_status('available', @user) %>
            </div>
          </div>

          ## MAKE SURE NEW WATCHES ARE ADDED FROM WATCHES/NEW


        </div>
        <!-- TABS END -->


      </div>
    </div>

    <!-- Right column -->
    <div class="col-lg-3">
      <div class= "margin-x" >
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier"%>
      </div>

       # @user.avg_review

      <div class="card-reserve" style="width: 12.5rem; height: 24rem;">
        <div class="card-body" style=background-color:#EFE5D9;>
          <p><strong><%= @user.first_name %>'s Profile</strong></p>
          <p>Total watches: <u><strong><%= @user.watches.count %></strong></u></p>
          <%= link_to "Delete Account", watches_path, class: "btn btn-outline-secondary mx-4" %>
        </div>
      </div>
    </div>

<hr>

<h2>Past Rentals</h2>
<div class="">
  <%= render Booking.completed_bookings(@user) %>
  <div class="d-flex col-9">

  </div>


</div>




<div class="d-none row">
  <h1>My Watches</h1>
  <div class="container d-flex">
    <div class="">
      <div class="d-flex col-10">

        <%= render @watches %>

      </div>
  </div>
  <div class="">
  <div>

  </div>
</div>
