<div class="grid-container">
  <nav role="tablist" class="grid-x align-justify align-middle">
    <hr>
      <div class="container-fluid">
        <%= link_to 'Back to Watches', watches_path, class: "btn btn-outline-secondary my-2 my-sm-0 ms-2" %>
        <div class="collapse navbar-collapse">
          <div class="ms-auto flex">
          </div>
        </div>
      </div>
    <hr>
  </nav>
</div>


<div class="new-watch m-3">
  <h2> <strong>Provide some information about the watch you want to rent out.</strong></h2>
  <%= simple_form_for [ @user, @watch ] do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :price %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <br>
    <br>
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
    <%= f.submit "Submit", class: "btn btn-success btn-opacity-25" %>
  <% end %>
</div>
