<div class="grid-container">
  <nav role="tablist" class="grid-x align-justify align-middle">
    <hr>
      <div class="container-fluid">
        <%= link_to 'Back to Watches', watches_path, class: "btn btn-outline-secondary my-2 my-sm-0 ms-2" %>
        <div class="collapse navbar-collapse">
          <div class="ms-auto flex">
          </div>
        </div>
      </div>
    <hr>
  </nav>
</div>

<div class="d-flex justify-content-center">
  <div class="flex-column">
    <div class="card" style="width: 18rem;">
      <center><script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/zpxybbhl.json"
          trigger="hover"
          colors="primary:#80818b,secondary:#eeaa66"
          style="width:200px;height:200px">
      </lord-icon></center>
      <div class="card-body">
        <p class="card-text">Listing a watch allows you to connect with fellow watch enthusiasts and grow the community!</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <center><script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/iltqorsz.json"
          trigger="hover"
          colors="primary:#80818b,secondary:#eeaa66"
          style="width:200px;height:200px">
      </lord-icon></center>
      <div class="card-body">
        <p class="card-text">Find targetted watch enthusiasts who appreciate the value and art of your time pieces!</p>
      </div>
    </div>
  </div>
  <div class="right-side m-3"><br>
  <div class="list-watch">
    <h2><strong>List your watch</strong></h2></div>
    <%= simple_form_for [ @user, @watch ] do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :year %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <center><%= f.submit "Submit", class: "button button1" %></center>
    <% end %>
  </div>

</div>
